h1 {
    color: red;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    
}
body {
    font: italic normal bold 16px arial;
    color: brown;
}
p{
    color: midnightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 50px;
}